In [1]:
import pandas as pd
import numpy as np

In [4]:
df__ = pd.read_csv("hcny_p05_t001.csv", header=None, skiprows=9,
                 names=['1','d','State', "Number of Colonies", "Maximum", "Lost", 'Percent Lost', 'Added', 'Renovated', 'Percent Renovated 5'])

In [5]:
df_ = df__.drop(['1','d'], axis=1)

In [ ]:
df = df_[df_.State.notna()]

In [ ]:
df.iloc[:49]

In [6]:
!kaggle datasets download -d kevinzmith/honey-with-neonic-pesticide

honey-with-neonic-pesticide.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
!unzip honey-with-neonic-pesticide.zip

In [7]:
dfh2 = pd.read_csv('vHoneyNeonic_v02.csv')

In [8]:
dfh2.head(10)

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year,StateName,Region,nCLOTHIANIDIN,nIMIDACLOPRID,nTHIAMETHOXAM,nACETAMIPRID,nTHIACLOPRID,nAllNeonic
0,AL,11000.0,56,616000.0,209000.0,1.49,918000.0,2007,Alabama,South,7696.2,3258.1,4149.6,0.0,0.0,15103.9
1,AL,11000.0,72,792000.0,230000.0,1.21,958000.0,2006,Alabama,South,680.0,4230.2,5371.6,0.0,0.0,10281.8
2,AL,12000.0,86,1032000.0,103000.0,1.18,1218000.0,2002,Alabama,South,0.0,1178.8,840.4,0.0,0.0,2019.2
3,AL,12000.0,87,1044000.0,282000.0,1.41,1472000.0,2004,Alabama,South,2676.4,1323.9,3863.9,0.0,0.0,7864.2
4,AL,13000.0,66,858000.0,266000.0,1.02,875000.0,2005,Alabama,South,1503.6,994.5,5493.9,0.0,0.0,7992.0
5,AL,13000.0,82,1066000.0,43000.0,1.24,1322000.0,2003,Alabama,South,0.0,668.3,591.7,0.0,0.0,1260.0
6,AL,14000.0,73,1022000.0,235000.0,0.72,736000.0,2001,Alabama,South,0.0,1490.8,0.0,0.0,0.0,1490.8
7,AL,16000.0,71,1136000.0,159000.0,0.72,818000.0,1998,Alabama,South,0.0,1836.3,0.0,0.0,0.0,1836.3
8,AL,16000.0,78,1248000.0,187000.0,0.59,736000.0,2000,Alabama,South,0.0,1499.2,0.0,0.0,0.0,1499.2
9,AL,17000.0,68,1156000.0,185000.0,0.56,647000.0,1999,Alabama,South,0.0,1251.2,0.0,0.0,0.0,1251.2

In [9]:
dfh2.shape

(825, 16)

In [42]:
dfh3.shape

NameError: name 'dfh3' is not defined

In [ ]:
max(dfh3.year)

In [23]:
dfh3 = pd.read_csv('vHoneyNeonic_v03.csv')

In [24]:
dfh3.head()

  state   numcol  yieldpercol  ...  nACETAMIPRID  nTHIACLOPRID  nAllNeonic
0    AL  14000.0           66  ...           0.0           0.0      6704.8
1    AL  15000.0           64  ...           0.0           0.0       371.6
2    AL  16000.0           58  ...           0.0           0.0       716.5
3    AL  18000.0           50  ...           NaN           NaN         NaN
4    AL  19000.0           45  ...           NaN           NaN         NaN

[5 rows x 17 columns]

In [25]:
dfh3.shape

(1132, 17)

In [ ]:
dfh2.dtypes

In [10]:
dfh2 = dfh2.fillna(0)

In [11]:
object_columns = dfh2.select_dtypes(['object']).columns
object_columns

Index(['state', 'StateName', 'Region'], dtype='object')

In [12]:
#Convert selected columns to type 'category'
for column in object_columns: 
    dfh2[column] = dfh2[column].astype('category')

In [26]:
dfh3 = dfh3.fillna(0)

In [27]:
object_columns = dfh3.select_dtypes(['object']).columns
object_columns

Index(['state', 'StateName', 'Region'], dtype='object')

In [28]:
for column in object_columns: 
    dfh3[column] = dfh3[column].astype('category')

In [29]:
from dotenv import load_dotenv
load_dotenv(verbose=True)

True

In [30]:
import os

In [15]:
TEST_DATABASE_URL = os.getenv("TEST_DATABASE_URL")

In [16]:
print(TEST_DATABASE_URL)

postgres://kpogmvqdqelhzq:0d1423fcf1e432049a9bc9cb19a91ec466126d654d95bd399705aee100419389@ec2-54-243-197-120.compute-1.amazonaws.com:5432/d9pj1e97fg8hcc

In [17]:
DATABASE_URL = os.getenv("DATABASE_URL")

In [18]:
print(DATABASE_URL)

postgres://rmuautqldkjati:fb49b53e256fe0750c21d2e22955af7537c59b442a8080d43677db984cf76ec8@ec2-54-197-234-117.compute-1.amazonaws.com:5432/dc81lt0dk4u5bl

In [19]:
from pandas.io.json import json_normalize
pd.set_option("display.max_columns", 0)
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy.dialects.postgresql import JSON
from flask import Flask
import json
from psycopg2.extras import Json
import pickle

In [20]:
APP = Flask(__name__)
APP.config['SQLALCHEMY_DATABASE_URI'] = DATABASE_URL
APP.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False

# APP.config['SQLALCHEMY_BINDS'] = {
#     'reviewtwo': DATABASE_URL
# }
APP.config['extend_existing']=True
DB = SQLAlchemy(APP)

In [32]:
class neonic3(DB.Model):
    id = DB.Column(DB.Integer, primary_key=True)
    state = DB.Column(DB.String(2), nullable=False)
    numcol = DB.Column(DB.Float, nullable=False)
    yieldpercol = DB.Column(DB.Integer, nullable=False)
    totalprod = DB.Column(DB.Float, nullable=False)
    stocks = DB.Column(DB.Float, nullable=False)
    priceperlb = DB.Column(DB.Float, nullable=False)
    prodvalue = DB.Column(DB.Float, nullable=False)
    year = DB.Column(DB.Integer, nullable=False)
    StateName = DB.Column(DB.String(25), nullable=False)
    Region =  DB.Column(DB.String(10), nullable=False)
    nCLOTHIANIDIN=DB.Column(DB.Float, nullable=False)
    nIMIDACLOPRID=DB.Column(DB.Float, nullable=False)  
    nTHIAMETHOXAM=DB.Column(DB.Float, nullable=False)
    nACETAMIPRID=DB.Column(DB.Float, nullable=False)   
    nTHIACLOPRID=DB.Column(DB.Float, nullable=False)
    nAllNeonic=DB.Column(DB.Float, nullable=False)     
    def __repr__(self):
        return f"State {self.state} ---  Year {self.year}"

In [74]:
# DB.drop_all()

In [75]:
DB.create_all()

In [55]:
dfh2.dtypes

state            category
numcol            float64
yieldpercol         int64
totalprod         float64
stocks            float64
priceperlb        float64
prodvalue         float64
year                int64
StateName        category
Region           category
nCLOTHIANIDIN     float64
nIMIDACLOPRID     float64
nTHIAMETHOXAM     float64
nACETAMIPRID      float64
nTHIACLOPRID      float64
nAllNeonic        float64
dtype: object

In [76]:
dfh3.dtypes

state            category
numcol            float64
yieldpercol         int64
totalprod         float64
stocks            float64
priceperlb        float64
prodvalue         float64
year                int64
StateName        category
Region           category
FIPS                int64
nCLOTHIANIDIN     float64
nIMIDACLOPRID     float64
nTHIAMETHOXAM     float64
nACETAMIPRID      float64
nTHIACLOPRID      float64
nAllNeonic        float64
dtype: object

In [33]:
target = dfh3.shape[0]
print(target)
done = 0
step = 200
while done < target:
    todo = min(target - done, step)
    for row in np.ascontiguousarray(dfh3[done:done+todo].values):
        dgo = neonic3(
                state=row[0],
                numcol=row[1],
                yieldpercol=row[2],
                totalprod=row[3],
                stocks=row[4],
                priceperlb=row[5],
                prodvalue=row[6],
                year=row[7],
                StateName=row[8],
                Region=row[9],
                nCLOTHIANIDIN=row[10],
                nIMIDACLOPRID=row[11],
                nTHIAMETHOXAM=row[12],
                nACETAMIPRID=row[13],
                nTHIACLOPRID=row[14],
                nAllNeonic=row[15])

        DB.session.add(dgo)
    DB.session.commit()
    done += todo
print('done', done, end=" ")

1132
done 1132

In [ ]:
DB.session.rollback()

In [ ]:
DB.drop

In [7]:
!pip install --upgrade uszipcode

Collecting uszipcode
  Downloading https://files.pythonhosted.org/packages/34/e1/f828cd05732433d0074a17a2623a8c1281c5dc7fb265fef1d3867692037b/uszipcode-0.2.2-py2.py3-none-any.whl (137kB)
    100% |████████████████████████████████| 143kB 1.7MB/s ta 0:00:01
Collecting pathlib-mate (from uszipcode)
  Downloading https://files.pythonhosted.org/packages/ff/f2/a1e6044fe90784e7bbc05286f2e8616aa2ff167f7275f5a6f2df479092c0/pathlib_mate-0.0.15-py2.py3-none-any.whl (195kB)
    100% |████████████████████████████████| 204kB 17.4MB/s ta 0:00:01
Requirement already satisfied, skipping upgrade: attrs in /home/mark/anaconda3/envs/myf/lib/python3.6/site-packages (from uszipcode) (18.2.0)
Requirement already satisfied, skipping upgrade: sqlalchemy in /home/mark/anaconda3/envs/myf/lib/python3.6/site-packages (from uszipcode) (1.2.17)
Requirement already satisfied, skipping upgrade: requests in /home/mark/anaconda3/envs/myf/lib/python3.6/site-packages (from uszipcode) (2.21.0)
Requirement already satisfied, skipping upgrade: six in /home/mark/anaconda3/envs/myf/lib/python3.6/site-packages (from pathlib-mate->uszipcode) (1.12.0)
Requirement already satisfied, skipping upgrade: autopep8 in /home/mark/anaconda3/envs/myf/lib/python3.6/site-packages (from pathlib-mate->uszipcode) (1.4.3)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /home/mark/anaconda3/envs/myf/lib/python3.6/site-packages (from requests->uszipcode) (2019.3.9)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /home/mark/anaconda3/envs/myf/lib/python3.6/site-packages (from requests->uszipcode) (3.0.4)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in /home/mark/anaconda3/envs/myf/lib/python3.6/site-packages (from requests->uszipcode) (2.8)
Requirement already satisfied, skipping upgrade: urllib3<1.25,>=1.21.1 in /home/mark/anaconda3/envs/myf/lib/python3.6/site-packages (from requests->uszipcode) (1.22)
Requirement already satisfied, skipping upgrade: pycodestyle>=2.4.0 in /home/mark/anaconda3/envs/myf/lib/python3.6/site-packages (from autopep8->pathlib-mate->uszipcode) (2.5.0)
Installing collected packages: pathlib-mate, uszipcode
Successfully installed pathlib-mate-0.0.15 uszipcode-0.2.2

In [8]:
from uszipcode import SearchEngine

In [9]:
search = SearchEngine(simple_zipcode=False)

Start downloading data for rich info zipcode database, total size 450+MB ...
  10 MB finished ...
  20 MB finished ...
  30 MB finished ...
  40 MB finished ...
  50 MB finished ...
  60 MB finished ...
  70 MB finished ...
  80 MB finished ...
  90 MB finished ...
  100 MB finished ...
  110 MB finished ...
  120 MB finished ...
  130 MB finished ...
  140 MB finished ...
  150 MB finished ...
  160 MB finished ...
  170 MB finished ...
  180 MB finished ...
  190 MB finished ...
  200 MB finished ...
  210 MB finished ...
  220 MB finished ...
  230 MB finished ...
  240 MB finished ...
  250 MB finished ...
  260 MB finished ...
  270 MB finished ...
  280 MB finished ...
  290 MB finished ...
  300 MB finished ...
  310 MB finished ...
  320 MB finished ...
  330 MB finished ...
  340 MB finished ...
  350 MB finished ...
  360 MB finished ...
  370 MB finished ...
  380 MB finished ...
  390 MB finished ...
  400 MB finished ...
  410 MB finished ...
  420 MB finished ...
  430 MB finished ...
  440 MB finished ...
  Complete!

In [12]:
z = search.by_city_and_state(city='South Miami', state='FL')

In [24]:
capital_dic={
    'AL': 'Montgomery',
    'AK': 'Juneau',
    'AZ':'Phoenix',
    'AK':'Little Rock',
    'CA': 'Sacramento',
    'CO':'Denver',
    'CT':'Hartford',
    'DE':'Dover',
    'FL': 'Tallahassee',
    'GA': 'Atlanta',
    'HI': 'Honolulu',
    'ID': 'Boise',
    'IL': 'Springfield',
    'IN': 'Indianapolis',
    'IA': 'Des Monies',
    'KS': 'Topeka',
    'KY': 'Frankfort',
    'LA': 'Baton Rouge',
    'ME': 'Augusta',
    'MD': 'Annapolis',
    'MA': 'Boston',
    'MI': 'Lansing',
    'MN': 'St. Paul',
    'MS': 'Jackson',
    'MO': 'Jefferson City',
    'MT': 'Helena',
    'NE': 'Lincoln',
    'NV': 'Carson City',
    'NH': 'Concord',
    'NJ': 'Trenton',
    'NM': 'Santa Fe',
    'NY': 'Albany',
    'NC': 'Raleigh',
    'ND': 'Bismarck',
    'OH': 'Columbus',
    'OK': 'Oklahoma City',
    'OR': 'Salem',
    'PR': 'Harrisburg',
    'RI': 'Providence',
    'SC': 'Columbia',
    'SD': 'Pierre',
    'TN': 'Nashville',
    'TX': 'Austin',
    'UT': 'Salt Lake City',
    'VT': 'Montpelier',
    'VA': 'Richmond',
    'WA': 'Olympia',
    'WV': 'Charleston',
    'WI': 'Madison',
    'WY': 'Cheyenne'  
}

In [25]:
state = 'FL'
z = search.by_city_and_state(city=capital_dic[state], state=state)

In [36]:
z[0].lat, z[0].lng

(30.43, -84.26)